force-app/main/default/flows/DCR_UTIL_HandleContactChanges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Contact_Id</name>
        <label>Set Contact Id</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>contactResult.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_isChanged_Flag</name>
        <label>Set isChanged Flag</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>isChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_DCR_to_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Changes</name>
        <label>Check for Changes</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Changes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dataverseContactRequest.Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dataverseContactRequest.Phone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact.Nickname__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dataverseContactRequest.Player_Nickname__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact.Dataverse_Tryout_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dataverseContactRequest.Tryout_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact.Dataverse_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dataverseContactRequest.Player_Contact_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact.Dataverse_Program_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dataverseContactRequest.Program_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact.Dataverse_Age_Group_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dataverseContactRequest.Age_Group_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact.Birthdate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dataverseContactRequest.Birthdate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_isChanged_Flag</targetReference>
            </connector>
            <label>Has Changes</label>
        </rules>
    </decisions>
    <description>Utility flow for the Dataverse Contact Request object. Check for changes to the related contact&apos;s data and return a Contact sObject with updated properties.</description>
    <environments>Default</environments>
    <formulas>
        <name>dateFmlBirthdate</name>
        <dataType>Date</dataType>
        <expression>IF(
  AND(
    !ISBLANK( {!dataverseContactRequest.Birth_Year__c} ), 
   YEAR( {!dataverseContactRequest.Birthdate__c} ) &lt;&gt; VALUE( {!dataverseContactRequest.Birth_Year__c} )
  ),
  DATE( VALUE( {!dataverseContactRequest.Birth_Year__c} ), MONTH( {!dataverseContactRequest.Birthdate__c} ), DAY( {!dataverseContactRequest.Birthdate__c} ) ),
  {!dataverseContactRequest.Birthdate__c}
)</expression>
    </formulas>
    <interviewLabel>DCR UTIL HandleContactChanges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCR UTIL HandleContactChanges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Changes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Transform_DCR_to_Contact</name>
        <label>Transform DCR to Contact</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Set_Contact_Id</targetReference>
        </connector>
        <flowName>DCR_UTIL_TransformDCRToContact</flowName>
        <inputAssignments>
            <name>dataverseContactRequest</name>
            <value>
                <elementReference>dataverseContactRequest</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactResult</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>dataverseContactRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Dataverse_Contact_Request__c</objectType>
    </variables>
    <variables>
        <name>isChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
