force-app/main/default/flows/DCR_AI_UpdateHousehold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Create_New_Parent_Contact</name>
        <label>Create New Parent Contact</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>parentContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Guardian_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Guardian_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentContact.Legacy_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Parent_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_ID_from_Parent</name>
        <label>Set Account ID from Parent</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>playerContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Player_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DCR_Contact</name>
        <label>Set DCR Contact</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>asyncDCRUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asyncDCRUpdate.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>playerContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asyncDCRUpdate.Salesforce_Contact_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>playerContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DCR_Async</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_New_Contact_Flag</name>
        <label>Set Has New Contact Flag</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>hasNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_DCR_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_from_Matching_Contact</name>
        <label>Set Parent from Matching Contact</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>parentContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_DCR_to_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_from_Refreshed_Contact</name>
        <label>Set Parent from Refreshed Contact</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>parentContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Contact_with_Acc_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_DCR_to_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_Lookup</name>
        <label>Check Contact Lookup</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Player_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Contact</targetReference>
            </connector>
            <label>Contact is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Changes</name>
        <label>Check for Changes</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Handle_Contact_Changes.isChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Player_Contact</targetReference>
            </connector>
            <label>Has Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Parent_Contact</name>
        <label>Check Get Parent Contact</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_New_Parent_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Parent_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_from_Matching_Contact</targetReference>
            </connector>
            <label>Got Parent Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Player_Contact</name>
        <label>Check Get Player Contact</label>
        <locationX>908</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Player Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Player_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Player_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Contact_Changes</targetReference>
            </connector>
            <label>Got Player Contact</label>
        </rules>
    </decisions>
    <description>Record-triggered, after insert for the Dataverse Contact Request object. Create accounts and contacts or update existing household information for matching records.</description>
    <environments>Default</environments>
    <interviewLabel>DCR AI UpdateHousehold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCR AI UpdateHousehold</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Parent_Contact</name>
        <label>Insert Parent Contact</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Parent_Contact_with_Acc_Id</targetReference>
        </connector>
        <inputReference>parentContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Player_Contact</name>
        <label>Insert Player Contact</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Set_Has_New_Contact_Flag</targetReference>
        </connector>
        <inputReference>playerContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_Contact</name>
        <label>Get Parent Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Parent_Contact</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Guardian_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Guardian_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Contact_with_Acc_Id</name>
        <label>Get Parent Contact with Acc Id</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Parent_from_Refreshed_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Player_Contact</name>
        <label>Get Player Contact</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Player_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_DCR_Async</name>
        <label>Update DCR Async</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <inputReference>asyncDCRUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Player_Contact</name>
        <label>Update Player Contact</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputReference>Handle_Contact_Changes.contactResult</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contact_Lookup</targetReference>
        </connector>
        <object>Dataverse_Contact_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Contact_Changes</name>
        <label>Handle Contact Changes</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_for_Changes</targetReference>
        </connector>
        <flowName>DCR_UTIL_HandleContactChanges</flowName>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>Get_Player_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>dataverseContactRequest</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Transform_DCR_to_Contact</name>
        <label>Transform DCR to Contact</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Set_Account_ID_from_Parent</targetReference>
        </connector>
        <flowName>DCR_UTIL_TransformDCRToContact</flowName>
        <inputAssignments>
            <name>dataverseContactRequest</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>playerContact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>asyncDCRUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dataverse_Contact_Request__c</objectType>
    </variables>
    <variables>
        <name>hasNewContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>parentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>playerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
