force-app/main/default/flows/DCR_UTIL_TransformDCRToContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transformed_Contact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Utility flow for the Dataverse Contact Request object. Transform a DCR record into an unsaved player&apos;s contact record.</description>
    <environments>Default</environments>
    <interviewLabel>DCR UTIL TransformDCRToContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCR UTIL TransformDCRToContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transformed_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transformed_Contact</name>
        <label>Transformed Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Set_Contact</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Contact</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>FirstName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Player_First_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LastName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Player_Last_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>MiddleName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Player_Middle_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Phone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Phone__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Email</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Email__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Dataverse_Age_Group_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Age_Group_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Dataverse_Tryout_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Tryout_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Dataverse_Program_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Program_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Dataverse_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Player_Contact_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TREX1__Gender__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Gender__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Birthdate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Birthdate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Legacy_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Nickname__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dataverseContactRequest.Player_Nickname__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>dataverseContactRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Dataverse_Contact_Request__c</objectType>
    </variables>
</Flow>
